# Ansible Molecule Images .gitignore
.ansible
# Release artifacts ------------------------------------------------------------
build/
dist/
# Dependencies -----------------------------------------------------------------
collections/
roles/
# IDE files and directories ----------------------------------------------------
.idea/
.vscode/
# Python files and directories -------------------------------------------------
.venv/
__pycache__/
