# repo: jomrr/ansible-molecule-images
# file: ansible.cfg

[defaults]
home                = .ansible
roles_path          = .ansible/roles
collections_path    = .ansible/collections
interpreter_python  = auto_silent
inventory           = containers.yml
playbook_dir        = ./playbooks
remote_tmp          = /tmp/ansible

forks               = 8
pipelining          = False
strategy            = free

[inventory]
enable_plugins      = yaml
